/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f6f8f9;
}

/* /REGOLE GENERALI */

/* STILE HEADER */
header {
    height: 80px;
    background-color: #fff;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    vertical-align: middle;
    line-height: 80px;

}

header img {
    padding-left: 20px;
    vertical-align: middle;
}

/* /STILE HEADER */