/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f6f8f9;
}

/* /REGOLE GENERALI */

/* STILE HEADER */
header {
    height: 80px;
    background-color: #fff;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    vertical-align: middle;
    line-height: 80px;

}

header img {
    padding-left: 20px;
    vertical-align: middle;
}

/* /STILE HEADER */

/* STILE MAIN */
main {
    width: 1000px;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 5px;
}

/* stile bottoni */
#list-buttons {
    border-bottom: 1px solid #f6f8f9;
    height: 50px;
}

section button {
    font-size: 0.7rem;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #f6f8f9;
    font-weight: bold;
}

#add-task {
    margin-left: 30px;
    margin-top: 10px;
    background-color: #47adf1;
    color: #fff;
}

#add-section {
    background-color: #fff;
    color: gray;
}

/* /stile bottoni */

/* stile lista */
ul {
    list-style-type: none;
    margin-left: 30px;
}

li {
    margin-left: 15px;
    padding: 10px;
}

/* /stile lista */

/* /STILE MAIN */